@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap');
h1.mlp-titlearea {
    color: #3c3c3c !important;
    font-family: "Lora", sans-serif !important;
    font-size: 29px !important;
    width: 100% !important;
    background-color: white;
	text-align: center;
}
.mylocalpages-custom-heading {
    color: #232323;
    font-size: 30px;
    font-family: Lora;
	text-align: center;
}
.mylocalpages-post-content{
	
}
.mylocalpages-post-title {
    font-family: "Roboto", Sans-serif;
    color: #000000 !important;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
a.raven-post-title-link {
    color: #000000;
}
.mylocalpages a {
    color: var( --e-global-color-9b19a09 );
}
.mylocalpages-post-meta{
	font-family: "Roboto", Sans-serif;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: .6px;
    padding: 10px 0 0;
    color: #ccc;
}
.mylocalpages-post-meta a {
    color: #CCCCCC;
	display: inline;
}
.mylocalpages-post-excerpt {
    font-family: roboto,Sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #7a7a7a;
    font-weight: 400;
}
.mylocalpages-post-button {
    color: #000;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}
span.mylocalpages-post-button-text {
    color: #000;
    font-family: roboto,Sans-serif;
    font-size: 12px;
}
/* .mylocalpages-custom-heading {
    text-transform: uppercase;
} */
.mlp-divider .raven-divider {
    padding: 15px 0px;
}

.mlp-divider .raven-divider-solid {
    height: 3px;
    background-color: #000;
}
.mlp-button-container{
	text-align:center;
	margin-bottom: 5%;
}
.mlp-custom-link{
	font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal !important;
    background-color:#31aa39 !important;
    box-shadow: 0 3px 8px #0000005e !important;
    color: white !important;
    padding: 15px 33px !important;
}
.mlp-raven-custom-headin {
    font-family: roboto,Sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: #000;
}

.mlp-post-grid:hover {
    transform: scale(1.1);
    transition-duration: .3s;
    transition-property: transform;
}
h3.mylocalpages-post-title {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

h3.mylocalpages-post-title a:hover{
	color:#000;
}

.mylocalpages-post-meta a:hover{
	color: #ccc !important;
}